{% extends 'base.html' %}


{% block title %}
    updating blog
{% endblock title %}


{% block content %}
<section class="content_part">
    <div class="container">
        <h3>Let's update blog</h3>
        <form class="form-group" action="{% url 'articles:a_update' article.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <img src="{{article.thumbnail.url}}" alt="">
            <input name="image" class="form-control" type="file" value="{{article.image.url}}">
            <input name="title" class="form-control" type="text" value="{{article.title}}">
            <textarea name="text" class="form-control">{{article.text}}</textarea>
            <select name="select" class="form-control">
                
                {% for category in categories %}
                <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
                    
            </select>
            <button type="submit" class="btn btn-md btn-primary">Update</button>            
        </form>

    </div>
</section>
    
{% endblock content %}

    