{% extends 'base.html' %}


{% block content %}
<div class="container-fluid block_header">
    {% if user.is_authenticated %}
        {% if user.id == article.author_id %}
        <h3>{{article.title}}<a role="button" class="btn btn-md btn-default pull-right" href="{% url 'articles:a_go_update' article.id %}">update</a></h3>
        {% else %}
        <h3>{{article.title}}</h3>
        {% endif %}
        
    {% else %}
    <h3>{{article.title}}</h3>
    {% endif %}
</div>
<div class="container">
    {% if user.is_authenticated %}
    {% if user.id == article.author_id %}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
            <div class="well">
                <form method="post" action="{% url 'articles:add_pic_view_2' article.id %}" class="form-group" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="alt" class="form-control" placeholder="short description of picture">
                    <input type="file" name="picture" class="form-control">
                    <button type="submit" class="btn btn-md btn-primary">add picture</button>
                </form>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
    </div>
    {% endif %}
    {% endif %}
    <br>
    <br>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">      
            <img class="thumbnail" src="{{article.thumbnail.url}}">
        </div>
        
        {% for picture in pictures %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <img class="thumbnail" src="{{picture.thumbnail.url}}">
        </div>
        {% endfor %}
            
    </div>
    {% if user.is_authenticated %}
    
    {% if like %}
    <a role="button" class="btn btn-md btn-success" href="{% url 'articles:like' article.id %}">
        <span class="glyphicon glyphicon-thumbs-up"></span>
    </a>
    {% else %}
    <a role="button" class="btn btn-md btn-default" href="{% url 'articles:like' article.id %}">
        <span class="glyphicon glyphicon-thumbs-up"></span>
    </a>
    {% endif %}
    
    
    {% if dislike %}
    <a role="button" class="btn btn-md btn-danger" href="{% url 'articles:dislike' article.id %}">
        <span class="glyphicon glyphicon-thumbs-down"></span>
    </a>
    {% else %}
    <a role="button" class="btn btn-md btn-default" href="{% url 'articles:dislike' article.id %}">
        <span class="glyphicon glyphicon-thumbs-down"></span>
    </a>
    {% endif %}
    
    
    
    {% else %}
    <a role="button" class="btn btn-md btn-default" href="">
        <span class="glyphicon glyphicon-thumbs-up"></span>
    </a>
    <a role="button" class="btn btn-md btn-default" href="">
        <span class="glyphicon glyphicon-thumbs-down"></span>
    </a>
    {% endif %}
    <div class="container">
    <p>
        {{article.text}}
    </p>
    <div class="block_header">
        <h4>Comments</h4>       
    </div>
    
    {% if user.is_authenticated %}
    <form class="form-group" action="{% url 'comments:leavecomment' article.id %}" method="post">
        {% csrf_token %}
        <textarea class="form-control" name="text" placeholder="type your comment here"></textarea>
        <button type="submit" class="btn btn-md btn-primary">add comment</button>
    </form>
    {% endif %}
        
    

    {% for comment in comments %}
    <div class="well">
        <strong>{{comment.author.username}}</strong>
        <p>{{comment.text}}</p>
    </div>
    {% endfor %}
    </div>
</div>
    
{% endblock content %}
    