<ul class="navbar-nav">
    
    {% for item in menu_item_list %}
                
        {% if item.is_category is True %}
        <li id="li_category" class="nav-item"><a class="nav-link" href="#">{{item.title}}</a>
            <ul id="cat_ul">
                {% for category in categories %}
                <li class="cat_ul_li">
                    <a class="nav-link" href="{% url 'articles:catview' category.id %}">
                        {{category.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        
        
        </li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'articles:menu_item' item.id%}">{{item.title}}</a></li>
        {% endif %}
            
    {% endfor %}
    
</ul>











<!--
<ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
    <li class="nav-item" id="li_category">
        <a class="nav-link" href="#">Categories</a>
        <ul id="cat_ul">
            {% for category in categories %}
            <li class="cat_ul_li">
                <a class="nav-link" href="{% url 'articles:catview' category.id %}">
                    {{category.name}}
                </a>
            </li>
            {% endfor %}
        </ul>

    </li>
    <li class="nav-item"><a class="nav-link" href="#">Projects</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
</ul>

-->