
<div id="slider_wrapper">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for slider in sliders %}
            
                {% if forloop.first %}
                    <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
                {% else %}
                    <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
                {% endif %}
                
            {% endfor %}
        </ol>
        <!-- Wrap for slides -->
        
        <div class="carousel-inner">
            {% for slider in sliders %}
            
            {% if forloop.first %}
                <div class="carousel-item active">
                    <img src="{{slider.slide_image.url}}" alt="{{slider.title}}" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{slider.title}}</h5>
                        <p>{{slider.text}}</p>
                    </div>
                </div>
            {% else %}
                <div class="carousel-item">
                    <img src="{{slider.slide_image.url}}" alt="{{slider.title}}" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{slider.title}}</h5>
                        <p>{{slider.text}}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <!-- Wrap for slides end -->
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev" role="button">
            <span class="carousel-control-prev-icon"></span>

        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next" role="button">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>