.cat_ul_li{
    display: none;
}

#li_category:hover .cat_ul_li{
    display:block;
}

#cat_ul{
    display:block;
    position:absolute;
     z-index: 7;
}
#li_category:hover #cat_ul{
    background: #000000ab;
}

.navbar{
    background: #000000;
}
.nav-link{
    color: #f6fa0f;
}

.nav-item:hover .nav-link{
    color: white;
}

.navbar-brand{
    color:white;
}
.navbar-brand:hover{
    color:#edfd05;
}
#myCarousel{
    max-width:950px;
    margin:0 auto;
}
#slider_wrapper{
    display:block;
    position:relative;
    width:100%;
    background: #060236;
    padding-top: 10px;
    padding-bottom: 10px;
}
.carousel-caption{
    background: #000000b6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

#comment_section{
    background: #a198f0af;
    padding:5px;
}
.art_update_form{
    display:none;
}
.art_update_wrap{
    display:block;
    min-height: 25px;
    background: #31d7ec9b;
}
.art_update_wrap:hover .art_update_form{
    display:block;
}

.footer{
    min-height: 250px;
    background: #4b0ddde1;
}

.container{
    background: #ffffff;
}

.header{
    min-height: 150px;
    background: #1c18f0e1;
}

.footer_inner{
    display: block;
    position: relative;
    width: 80%;
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white;
    font-size: 22px;
}